.anglish_version{
   body{
    direction: ltr;
    .v-application--is-rtl{
    direction: ltr;
    }.shadow_row form{
      margin-left: 16%;
      margin-right: 0%;}
   }
   .navbar 
   {.v-list-item .v-list-item__icon{
    margin-left: 0px;
    margin-right: 10px;
   }
   .v-list--dense .v-list-item .v-list-item__title span{
    padding-left: 0px;
    padding-right: 11px;
   }}
}