$mainColor: #148744;
$Font: "Bahij TheSansArabic";
$background:#F8F9FD;


.font-bold {
  font-weight: bold !important;
}
.font-medium {
  font-weight: 500 !important;
}
.font-light {
  font-weight: 300 !important;
}

.v-application{
  font-family: "Montserrat-Arabic-Regular" !important;
}
h1 , h2, h3,h4{
  font-family: "Montserrat-Arabic-ExtraBold" !important; 
} 