@font-face {
    font-family: 'Montserrat-Arabic';
    src: url('Montserrat-Arabic-Thin.otf');
    font-weight: 250;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Arabic-Black.otf';
    src: url('Montserrat-Arabic-Black.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Arabic-ExtraBold';
    src: url('Montserrat-Arabic-ExtraBold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Arabic-Medium';
    src: url('Montserrat-Arabic-Medium.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Arabic-Light';
    src: url('Montserrat-Arabic-Light.otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Arabic-Regular';
    src: url('Montserrat-Arabic-Regular.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Arabic-SemiBold';
    src: url('Montserrat-Arabic-SemiBold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
