<template>
  <ShimmerLoader type="table" :loading="myloadingvariable">
    <transition name="fade" mode="out-in">
  <v-row>
  <v-col>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      hide-default-footer
      multi-sort
      :loading="myloadingvariable"
      :no-data-text="$t('common.public.no_data')"
      :loading-text="$t('common.public.loading')"
      :class="className"
    >
      <!-- :custom-sort="customSort" -->
      <template #item="{ item, index, expand, isExpanded }">
        <tr>
          <slot
            :item="item"
            :index="index"
            :expand="expand"
            :is-expanded="isExpanded"
          ></slot>
        </tr>
      </template>
      <template slot="no-data">
        {{ $t(`dashboard.public.no_data`) }}
      </template>
      <template #expanded-item="{ item, headers }">
        <slot
          name="expend_row"
          :item="item"
          :headers="headers"
          color="primary"
        />
      </template>
    </v-data-table>
    <v-row>
      <v-col md="3">
        <div class="float-right pt-2">
          <v-select
            class="select_per_page"
            v-model="itemsPerPage"
            @change="itemsPerPageChange()"
            item-value="value"
            item-text="text"
            :items="itemsPages"
            solo
          ></v-select>
        </div>
      </v-col>

      <v-col md="6">
        <div class="text-center pt-2">
          <v-pagination v-model="page" :length="pageCountLimits">
          </v-pagination>
        </div>
      </v-col>

      <v-col md="3">
        <div class="text-left mt-5">
          عرض {{ from }} الي {{ to }} من {{ total }} الاجمالي
        </div>
      </v-col>
    </v-row>
  </v-col>
  </v-row>
  </transition>
  </ShimmerLoader>
</template>
<script>
import {HtttpGetDefult} from "../../plugins/httpClient.js"
export default {
  props: {
    tableHeaders: {
      type: Array,
      default: () => [],
    },
    tableModule: {
      type: String,
      default: "",
    },
    className: {
      type: String,
      default: "",
    },
    filter:{
      type: Object,
      default: () => {},
    },
    reqname:{
      type: String,
      default: "managements",

    }
  },
  data() {
    return {
      myloadingvariable: true,
      from: "",
      to: "",
      total: "",
      cruds: [
        ["Read", "mdi-file-outline"],
        ["Update", "mdi-update"],
        ["Delete", "mdi-delete"],
      ],
      itemsPages: [
        { value: 10, text: "10" },
        { value: 20, text: "20" },
      ],
      page: 1,
      pageCountLimits: 0,
      itemsPerPage: 10,
      parent_id: "",
      desserts: [],
      headers: [],
    };
  },
  watch: {
    page(newPage) {
      this.getData(newPage);
    },	
    filter: function(newVal) { // watch it
        let str ="";
      for (const key in newVal) {
        str += `&`+key+`=`+newVal[key];
      }
          this.getData(1, str);
        }

  },
  methods: {
    HtttpGetDefult() {
      // this.itemsPerPage = event.target.value
      this.getData();
    },
    getData(pageId = 1,str='') {
      console.log(str);
      this.loading2 = true;
      this.myloadingvariable = true;
      HtttpGetDefult(`${this.$props.reqname}?per_page=` + this.itemsPerPage + "&page=" + pageId+str)
        .then((res) => {
          console.log("res == ",res );
          this.myloadingvariable = false;
          this.desserts = res.data;
          this.page = res.meta.current_page;
          this.pageCountLimits = res.meta.last_page;
          this.itemsPerPage = res.meta.per_page;
          this.total = res.meta.total;
          this.from = res.meta.from;
          this.to = res.meta.to;
        })
        .finally(() => {
          this.loading2 = false;
        });
    },

    generateTableHeaders(headersName = [], tableModule) {
      return headersName.map(({ name, sortable, value, width }) => {
      //  console.log("headersName", headersName);
        return {
          text: this.$t(`${tableModule}.table.${name}`),
          value: value,
          align: "start",
          sortable: sortable ? sortable : false,
          width: width ? width : "",
        };
      });
    },
    createTableHeaders() {
      this.headers = this.generateTableHeaders(
        this.$props.tableHeaders,
        this.$props.tableModule
      );
    },
  },
  created() {
    if(this.$props.filter){
      let str ="";
      for (const key in this.$props.filter) {
        str += `&`+key+`=`+this.$props.filter[key];
      }
          this.getData(1, str);
  }else{
    this.getData();
    }
    this.createTableHeaders();
  },
};
</script>




<style lang="scss">
.v-row{
  width: 100%;

}
.v-data-table__wrapper > table > thead > tr > th:first-child {
  min-width: auto !important;
}
.v-data-table__wrapper > table > thead > tr > th {
  min-width: 180px !important;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr{
  font-size: 16px;
  color:#148744;
}

.TableAutoWite {
  .v-data-table__wrapper > table > thead > tr > th {
    min-width: auto !important;
  }
}
 .v-data-table__wrapper::-webkit-scrollbar {
    width: 24px;
    height: 8px;
    background-color: #d5e9dd;
}
.v-data-table__wrapper::-webkit-scrollbar {
  height: 12px;
}

.v-data-table__wrapper::-webkit-scrollbar-track {
}

.v-data-table__wrapper::-webkit-scrollbar-thumb {
  background: #148744ba;
}


</style>
