<template>
    <v-list dense>
  <v-list-group >
    <template v-slot:activator>
      <v-list-item-content class="">
        <v-list-item-title><span v-html="icon"></span>{{
          $t(title)
        }}</v-list-item-title>
      </v-list-item-content>
    </template>

    <v-list-item
      color="primary"
      v-for="(item, i) in itemsMenu"
      :key="i"
      link
      :to="item.route"
    >
      <v-list-item v-if="item.type != 'group'">
        <v-list-item-icon
          ><v-icon v-html="item.icon" color="#757575"></v-icon
        ></v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ $t(item.text) }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
  
  <v-list-group 
            no-action
            sub-group
            value="true" prepend-icon="mdi-arrow-down-drop-circle-outline"  v-if="item.type == 'group'">
    <template v-slot:activator>
      <v-list-item-content class="">
        <v-list-item-title>{{
          $t(title)
        }}</v-list-item-title>
      </v-list-item-content>
    </template>

    <v-list-item
      color="primary"
      v-for="(item2, i) in item.groupIn"
      :key="i"
      link
      :to="item2.route"
    >
      <v-list-item>
        <v-list-item-icon
          ><v-icon v-text="item2.icon" color="#757575"></v-icon
        ></v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ $t(item2.text) }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item>
  </v-list-group>
    </v-list-item>
  </v-list-group>
  </v-list>
</template>
<script>
export default{
    props:{
        itemsMenu:{
            required:true,
            type:Array,
        },
        title:{
            required:true,
            type:String,

        },
        icon:{
            required:true,
            type:String,

        },
    }
}
</script>
<style scoped lang="scss">
.v-list--dense .v-list-item .v-list-item__title{
  font-size: 16px;
  span{
    vertical-align: sub;
    padding-left: 11px;
  }
}
</style>