<template>
  <v-row
    ><p class="pt-4 pr-5">Logo</p>
    <v-form class="d-md-inline-block">
      <v-btn class="d-inline-block" @click="search = !search">
        <svg
          viewBox="0 0 1024 1024"
          class="icon"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          fill="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M492.5 917.7c-247 0-447.9-200.9-447.9-447.9s200.9-448 447.9-448 447.9 200.9 447.9 447.9-200.9 448-447.9 448z m0-810.6c-200 0-362.6 162.7-362.6 362.6s162.7 362.6 362.6 362.6 362.6-162.7 362.6-362.6-162.6-362.6-362.6-362.6z"
              fill="#5F6379"
            ></path>
            <path
              d="M951.1 971c-10.9 0-21.8-4.2-30.2-12.5l-96-96c-16.7-16.7-16.7-43.7 0-60.3 16.6-16.7 43.7-16.7 60.3 0l96 96c16.7 16.7 16.7 43.7 0 60.3-8.2 8.4-19.2 12.5-30.1 12.5z"
              fill="#5F6379"
            ></path>
          </g>
          </svg>
        </v-btn>
      <v-text-field
        :class="search ? 'showSearch' : ''"
        class="d-inline-block"
        solo
        :placeholder="$t('Home.label.search')"
      >
      </v-text-field>
    </v-form>
    <v-spacer></v-spacer>
    <span class="buttonPopup">
      <v-btn class="success">Pos</v-btn>
    </span>
    <span
      ><svg
        id="maximize-3_bold"
        data-name="maximize-3/bold"
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        viewBox="0 0 26 26"
      >
        <g id="vuesax_bold_maximize-3" data-name="vuesax/bold/maximize-3">
          <g id="maximize-3">
            <path
              id="Vector"
              d="M15.61,0H6.391C2.387,0,0,2.387,0,6.391V15.6C0,19.613,2.387,22,6.391,22H15.6c4,0,6.391-2.387,6.391-6.391V6.391C22,2.387,19.614,0,15.61,0Zm2.816,8.8a.825.825,0,0,1-1.65,0V6.391L6.391,16.775H8.8a.825.825,0,1,1,0,1.65H4.4a.789.789,0,0,1-.319-.066.861.861,0,0,1-.451-.451.954.954,0,0,1-.055-.308V13.2a.825.825,0,0,1,1.65,0v2.409L15.61,5.225H13.2a.825.825,0,1,1,0-1.65h4.4a.829.829,0,0,1,.319.066.861.861,0,0,1,.451.451.954.954,0,0,1,.055.308Z"
              transform="translate(2 2)"
              fill="#1f1f1f"
            />
            <path
              id="Vector-2"
              data-name="Vector"
              d="M0,0H26V26H0Z"
              transform="translate(26 26) rotate(180)"
              fill="none"
              opacity="0"
            />
          </g>
        </g>
      </svg>
    </span>
    <span>
      <svg
        id="vuesax_bold_notification"
        data-name="vuesax/bold/notification"
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        viewBox="0 0 26 26"
      >
        <g id="notification">
          <path
            id="Vector"
            d="M16.282,13.531l-1.083-1.8a4.025,4.025,0,0,1-.433-1.6V7.388a6.4,6.4,0,0,0-3.651-5.774A3.17,3.17,0,0,0,8.319,0,3.208,3.208,0,0,0,5.514,1.647,6.422,6.422,0,0,0,1.939,7.388v2.741a3.928,3.928,0,0,1-.433,1.592L.411,13.531A2.532,2.532,0,0,0,1.83,17.355a20.261,20.261,0,0,0,6.522,1.062,20.55,20.55,0,0,0,6.522-1.051,2.612,2.612,0,0,0,1.408-3.835Z"
            transform="translate(4.67 2.167)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-2"
            data-name="Vector"
            d="M6.121.011A3.266,3.266,0,0,1,3.055,2.167,3.212,3.212,0,0,1,.758,1.2,2.991,2.991,0,0,1,0,0C.141.022.282.032.433.054.682.087.942.119,1.2.141,1.82.195,2.448.227,3.077.227S4.312.195,4.918.141c.227-.022.455-.032.672-.065Z"
            transform="translate(9.945 21.667)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-3"
            data-name="Vector"
            d="M0,0H26V26H0Z"
            transform="translate(26 26) rotate(180)"
            fill="none"
            opacity="0"
          />
        </g>
      </svg>
    </span>
    <span @click="changeLang()">
      <a>
        <svg
          id="vuesax_bold_global"
          data-name="vuesax/bold/global"
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          viewBox="0 0 26 26"
        >
          <path
            id="Vector"
            d="M4.972,4.951c-.032,0-.076.022-.108.022A10.84,10.84,0,0,1,0,.108C0,.076.022.032.022,0A34.55,34.55,0,0,0,4.063.91,36.344,36.344,0,0,0,4.972,4.951Z"
            transform="translate(3.315 17.702)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-2"
            data-name="Vector"
            d="M5.037.119A10.935,10.935,0,0,1,0,5.07,33.11,33.11,0,0,0,.986.91,33.888,33.888,0,0,0,5.016,0C5,.043,5.037.087,5.037.119Z"
            transform="translate(17.647 17.702)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-3"
            data-name="Vector"
            d="M5.124,5.124A34.28,34.28,0,0,0,.986,4.138,30.24,30.24,0,0,0,0,0,10.889,10.889,0,0,1,5.124,5.124Z"
            transform="translate(17.647 3.228)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-4"
            data-name="Vector"
            d="M5.059.032a33.852,33.852,0,0,0-.9,4.03A31.275,31.275,0,0,0,0,5.037,10.935,10.935,0,0,1,4.951,0C4.983,0,5.027.032,5.059.032Z"
            transform="translate(3.228 3.315)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-5"
            data-name="Vector"
            d="M7.562,4.972A33.939,33.939,0,0,0,0,4.972,30.738,30.738,0,0,1,1.1.574,1.772,1.772,0,0,0,1.127.336,11.273,11.273,0,0,1,3.781,0,11.182,11.182,0,0,1,6.424.336a1.8,1.8,0,0,0,.033.238A31.1,31.1,0,0,1,7.562,4.972Z"
            transform="translate(9.219 2.167)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-6"
            data-name="Vector"
            d="M4.972,7.562a30.38,30.38,0,0,1-4.4-1.1,1.771,1.771,0,0,0-.238-.022A11.273,11.273,0,0,1,0,3.781,11.182,11.182,0,0,1,.336,1.138,1.8,1.8,0,0,0,.574,1.1,32.251,32.251,0,0,1,4.972,0,35.289,35.289,0,0,0,4.972,7.562Z"
            transform="translate(2.167 9.219)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-7"
            data-name="Vector"
            d="M4.972,3.781a11.273,11.273,0,0,1-.336,2.654,1.771,1.771,0,0,0-.238.022A32.655,32.655,0,0,1,0,7.562,33.939,33.939,0,0,0,0,0,30.738,30.738,0,0,1,4.4,1.1a.9.9,0,0,0,.238.033A11.254,11.254,0,0,1,4.972,3.781Z"
            transform="translate(18.861 9.219)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-8"
            data-name="Vector"
            d="M7.562,0a30.38,30.38,0,0,1-1.1,4.4,1.8,1.8,0,0,0-.033.238,11.182,11.182,0,0,1-2.643.336,11.273,11.273,0,0,1-2.654-.336A1.772,1.772,0,0,0,1.1,4.4,32.251,32.251,0,0,1,0,0,33.9,33.9,0,0,0,3.781.238,33.735,33.735,0,0,0,7.562,0Z"
            transform="translate(9.219 18.861)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-9"
            data-name="Vector"
            d="M8.41,8.41a32.542,32.542,0,0,1-8.154,0,32.542,32.542,0,0,1,0-8.154,32.542,32.542,0,0,1,8.154,0A32.542,32.542,0,0,1,8.41,8.41Z"
            transform="translate(8.667 8.667)"
            fill="#1f1f1f"
          />
          <path
            id="Vector-10"
            data-name="Vector"
            d="M0,0H26V26H0Z"
            fill="none"
            opacity="0"
          />
          <path
            id="Vector-11"
            data-name="Vector"
            d="M0,0H26V26H0Z"
            transform="translate(26 26) rotate(180)"
            fill="none"
            opacity="0"
          />
        </svg>
        <h5 class="d-inline-block pr-1">{{ $t("Home.headers.Lang") }}</h5>
      </a>
    </span>
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <div
          v-bind="attrs"
          v-on="on"
          large
          text
          outlined
          class="d-md-inline box-avatar sec_menu"
        >
          <v-avatar size="30">
            <img
              src="https://avataaars.io/?avatarStyle=Transparent&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
            />
          </v-avatar>
          <h5 class="d-inline-block">{{ FullName ? FullName : "--" }}</h5>
          <v-icon>mdi-chevron-down</v-icon>
        </div>
      </template>
      <v-list>
        <v-list-item @click.prevent="logout()">
          <v-list-item-title> تسجيل خروج </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-row>
</template>
<script>
import i18n from "@/lang";
export default {
  props: ["drawer"],
  data() {
    return {
      FullName: "مرحباً بك محمد",
      language: "",
      search: false,
    };
  },
  created() {
    this.language = localStorage.getItem("lang");
    i18n.locale = localStorage.getItem("lang")
      ? localStorage.getItem("lang")
      : "ar";
    this.$store.dispatch("changeLayout");
  },
  mounted() {},
  methods: {
    changeLang() {
      if (this.language == "en") {
        //ar
        localStorage.setItem("lang", "ar");
        i18n.locale = "ar";
        this.language = "ar";
      } else {
        //en
        localStorage.setItem("lang", "en");
        i18n.locale = "en";
        this.language = "en";
      }
      this.$store.dispatch("changeLayout");
      console.log(" this.language start", this.language);
    },
    logout() {
      console.log("logout");
    },
  },
};
</script>
<style scoped lang="scss">
@import "@/assets/style/query.scss";
span,
.sec_menu {
  padding: 20px 15px;
  a {
    h5 {
      vertical-align: sub;
    }
  }
}
form {
  margin-right: 14%;
  border: 1px solid #ced4e8;
  border-radius: 8px;
  height: 44px;
  width: auto;
  margin-top: 12px;
  @include larger_landscape_tablets {
    display: none;
  }
  button {
    background-color: transparent !important;

    box-shadow: 0px 0px 0px;
    padding: 0px 10px;
    vertical-align: middle;
    &:hover {
      background: transparent;
    }
    svg {
      width: 20px;
      height: 23px;
    }
  }
  .v-btn:not(.v-btn--round).v-size--default {
    height: 100%;
    min-width: 45px;
    padding: 0;
    vertical-align: sub;
  }
  .v-btn:before {
    background-color: transparent !important;
  }
  .v-text-field {
    padding: 0px;
    height: 100%;
    margin: 0px;
    transition: 0.5s all ease-in-out;
    width: 0px;
  }
  .showSearch {
    width: 400px;
  }
}
.buttonPopup{
  padding-top: 17px;
  border-radius: 8px;
}
svg {
  vertical-align: text-top;
}
</style>
<style lang="scss">
.shadow_row{
.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  background: transparent !important;
  box-shadow: 0px 0px 0px !important;
}
}
</style>
