<template>
    <v-list dense> 
            <v-list-item-group color="primary" >
                <v-list-item v-for="(item, i) in itemsMenu" :key="i" link :to="item.route"> 
                    <v-list-item-icon v-html="item.icon"></v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title >{{$t(item.text)}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-item-group>
            </v-list>
</template>
<script>
export default{
    props:{
        itemsMenu:{
            required:true,
            type:Array,
        }
    }
}
</script>

