<template>
  <div class="navbar">
    <v-navigation-drawer width="326px" right drawer class="pt-5">
      <v-list>
        <!-- <ListItems :itemsMenu="itemsMenu" /> -->
        <!-- <ListGroup
          :itemsMenu="customers"
          title="Home.slidebar.customers"
          icon='
<svg id="profile_bold" data-name="profile/bold" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <g id="vuesax_bold_frame" data-name="vuesax/bold/frame">
    <g id="frame">
      <path id="Vector" d="M4.75,0a4.746,4.746,0,0,0-.12,9.49.807.807,0,0,1,.22,0h.07A4.746,4.746,0,0,0,4.75,0Z" transform="translate(7.25 2)" fill="#6a6e83"/>
      <path id="Vector-2" data-name="Vector" d="M12.12,1.395a9.929,9.929,0,0,0-10.15,0A3.947,3.947,0,0,0,0,4.625a3.914,3.914,0,0,0,1.96,3.21,9.239,9.239,0,0,0,5.08,1.41,9.239,9.239,0,0,0,5.08-1.41,3.945,3.945,0,0,0,1.96-3.23A3.937,3.937,0,0,0,12.12,1.395Z" transform="translate(4.96 12.755)" fill="#6a6e83"/>
      <path id="Vector-3" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(24 24) rotate(180)" fill="none" opacity="0"/>
    </g>
  </g>
</svg>'
        /> -->

        <aside class="links-nav">
        <ul>
          <li
            v-for="link in links"
            :key="link.id"
            :class="{ dropDown: link.subMenu }"
          >
            <template v-if="!link.subMenu">
              <router-link
                :to="{
                  path: link.route,
                  hash: $route.path.replace(/^\//, ''),
                }"
              >
                <section class="icon">
                  <InlineSvg :src="link.icon" />
                </section>
                {{ $t(link.title) }}
              </router-link>
            </template>
            <template v-else>
              <header>
                <section class="title">
                  <section class="icon" v-html="link.icon"></section>
                  {{ $t(link.title) }}
                </section>
                <section class="arrow">
                  <InlineSvg src="/images/global/icons/global/arrow.svg" />
                </section>
              </header>
              <ul>
                <li v-for="(li, ind) in link.subMenu" :key="ind">
                  <router-link
                    :to="{
                      path: li.route,
                      hash: $route.path.replace(/^\//, ''),
                    }"
                  >
                    {{ $t(li.title) }}
                  </router-link>
                </li>
              </ul>
            </template>
          </li>
        </ul>
        </aside>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data: () => ({
    itemsMenu: [
      {
        text: "Home.slidebar.dashboard",
        icon: `<svg id="home_bold" data-name="home/bold" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <g id="vuesax_bold_home" data-name="vuesax/bold/home">
    <g id="home">
      <path id="Vector" d="M19,6.01,12.45.77A3.765,3.765,0,0,0,7.9.76L1.35,6.01A3.917,3.917,0,0,0,.04,9.44L1.3,16.98A3.716,3.716,0,0,0,4.87,20h10.6a3.773,3.773,0,0,0,3.58-3.03l1.26-7.54A4.018,4.018,0,0,0,19,6.01ZM10.92,16a.75.75,0,0,1-1.5,0V13a.75.75,0,0,1,1.5,0Z" transform="translate(1.83 2)" fill="#fbfbfb"/>
      <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(24 24) rotate(180)" fill="none" opacity="0"/>
    </g>
  </g>
</svg>`,
        route: "/home",
      },
    ],

    customers: [
      {
        text: "legal.slidebar.Drafting_requests",
        icon: "mdi-content-cut",
        route: "/legal/Drafting_requests",
      },
      {
        text: "legal.slidebar.Form_requests",
        icon: "mdi-notebook-edit-outline",
        route: "/legal/Form_requests",
      },
      {
        text: "legal.slidebar.Consultation_requests",
        icon: "mdi-timeline-question-outline",
        route: "/legal/Consultation_requests",
      },
      {
        text: "legal.slidebar.customer_requests",
        icon: "mdi-notebook-outline",
        route: "/legal/customer_requests",
      },
    ],
    links: [
      {
        id: 1,
        title: "Home.slidebar.dashboard",
        icon: `<svg id="home_bold" data-name="home/bold" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <g id="vuesax_bold_home" data-name="vuesax/bold/home">
    <g id="home">
      <path id="Vector" d="M19,6.01,12.45.77A3.765,3.765,0,0,0,7.9.76L1.35,6.01A3.917,3.917,0,0,0,.04,9.44L1.3,16.98A3.716,3.716,0,0,0,4.87,20h10.6a3.773,3.773,0,0,0,3.58-3.03l1.26-7.54A4.018,4.018,0,0,0,19,6.01ZM10.92,16a.75.75,0,0,1-1.5,0V13a.75.75,0,0,1,1.5,0Z" transform="translate(1.83 2)" fill="#fbfbfb"/>
      <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(24 24) rotate(180)" fill="none" opacity="0"/>
    </g>
  </g>
</svg>`,
        route: "/home",
      },
      {
        id: 2,
        title: "fgdfdgdfgfgd",
        icon: `<svg id="home_bold" data-name="home/bold" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <g id="vuesax_bold_home" data-name="vuesax/bold/home">
    <g id="home">
      <path id="Vector" d="M19,6.01,12.45.77A3.765,3.765,0,0,0,7.9.76L1.35,6.01A3.917,3.917,0,0,0,.04,9.44L1.3,16.98A3.716,3.716,0,0,0,4.87,20h10.6a3.773,3.773,0,0,0,3.58-3.03l1.26-7.54A4.018,4.018,0,0,0,19,6.01ZM10.92,16a.75.75,0,0,1-1.5,0V13a.75.75,0,0,1,1.5,0Z" transform="translate(1.83 2)" fill="#fbfbfb"/>
      <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(24 24) rotate(180)" fill="none" opacity="0"/>
    </g>
  </g>
</svg>`,
        subMenu: [
          {
            id: 1,
            title: "fsjkjksfjk",
            route: "/about",
          },
        ],
      },
    ],
  }),
};
</script>
 <style lang="scss">
.v-navigation-drawer--fixed {
  position: fixed;
}
.navbar {
  height: 100vh;
  .v-list-item-group .v-list-item,
  .v-list-group,
  .v-list-item {
    width: 246px;
    margin: auto;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 0px;
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: #6a6e83;
      }
    }
    .v-list-item__title {
      font-size: 16px;
      height: 100%;
    }
    .v-list-item__icon {
      padding: 0px;
      height: 100%;
      margin-left: 10px;
    }
    .v-list-item__content {
      height: 50px;
      padding-top: 13px;
      padding-right: 0px;
    }
    &:hover {
      background: #5fad51;
      .v-list-item__title {
        color: white;
      }
      svg path {
        fill: white;
      }
    }
  }
  .v-list-item-group .v-list-item--active,
  .v-list-item-group .v-list-item-group--active,
  .v-list-item--active {
    background: #5fad51;
    color: white;
    svg path {
      fill: white;
    }
  }

  .v-list-group--active
    > .v-list-group__header
    > .v-list-group__header__append-icon
    .v-icon {
    color: white;
  }
}
</style> 
<style lang="scss">
.links-nav {
  background: var(--white-color);

  padding: {
    top: var(--padding-between-sections);
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      &:not(:last-of-type) {
        margin: {
          bottom: 10px;
        }
      }
      &.dropDown {
        overflow: hidden;
        transition: var(--main-transition);
        a {
          justify-content: space-between;
        }
      }
      .icon {
        margin: {
          right: 5px;
        }

        svg {
          path {
            fill: var(--nav-icon-color) !important;
          }
        }
      }

      a,
      header {
        width: 100%;
        color: var(--nav-icon-color);
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: var(--main-border-radius);
      }

      a {
        text-decoration: none;
        &.router-link-active,
        &.router-link-exact-active {
          color: var(--first-color);
          background: var(--gray-first-color);
          .icon {
            svg {
              path {
                fill: var(--first-color) !important;
              }
            }
          }
        }
      }
      header {
        cursor: pointer;
        .title,
        .arrow {
          display: flex;
        }
        .title {
          width: 90%;
        }
        .arrow {
          width: 10%;
          justify-content: flex-end;
        }
      }
      ul {
        li {
          padding: 0 calc(24px + 5px);
          margin: {
            bottom: 0 !important;
          }
          a {
            span {
              width: 25px;
              height: 25px;
              color: var(--white-color);
              border-radius: var(--main-border-radius);
              margin: {
                left: 10px;
              }
              text-align: center;
              &.pending {
                background: var(--status-pending);
              }
              &.info {
                background: var(--status-info);
              }
              &.rejected {
                background: var(--status-rejected);
              }
              &.published {
                background: var(--status-published);
              }
            }
          }
        }
      }
    }
  }
}
</style>
