<template>
  <v-app>
    <v-main>
  <v-app id="inspire">
    <div class="maisn-warp">
      <div class="shadow_row">
          <v-col cols="12" lg="12" md="12">
            <ListTop />
          </v-col>
      </div>
      <div class="body_pages">
      <div class="d-md-inline-block" align="top">

        <Navbar/>
      </div>
      <div class="d-md-inline-block pr-5" align="top">
            <router-view/>
            </div>
      </div>
    </div>
  </v-app>
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar"
export default {
  name: 'App', components:{Navbar}
};
</script>

<style lang="scss" scoped>
.title_page {
  color: #5FAD51;
  margin-bottom: 50px;
  margin-top: 100px;
}
.logo {
  margin: 20px;
}
.top__icon {
  position: relative;
  top: 8px;
}
.group__top {
  top: 12px;
}
.home-item {
  max-width: 310px;
  margin-bottom: 20px !important;
  position: relative;
  box-shadow: 0px 3px 6px #eee;
  border: 1px solid #fdfdfd;
  border-radius: 10px;
  opacity: 1;
  padding-top: 53px;
  margin-bottom: 64px;
  overflow: hidden;
  margin: auto;
  transition: 0.3s;
  .home-item__title {
    margin-bottom: 52px;
    margin-top: 16px;
    font-family: "Cairo-Bold" !important;
    color: #0c5498;
    transition: 0.3s;
  }
  .link__item {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 9;
    transition: 0.3s;
  }

  .home-item__icon {
    > img {
      width: 90px;
      height: 90px;
    }
  }

  &:before {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 8px;
    content: "";
    right: 0;
    bottom: -20px;
    background: #0c5498;
  }

  &:hover {
    transition: 1.5;
    background: #eee;
    .home-item__title {
      margin-top: 14px;
      transition: 0.3s;
    }
    .home-item__icon {
      position: relative;
      top: -2px;
      transition: 0.3s;
    }
    &:before {
      bottom: 0;
      transition: 0.3s;
    }
  }
}

.home-item.red_c {
  &:before {
    background: #ab345f;
  }
  .home-item__title {
    color: #ab345f;
  }
  &:hover {
    &:before {
      bottom: 0;
      transition: 0.3s;
    }
  }
}

.home-item.green_c {
  .home-item__title {
    color: #138744;
  }
  &:before {
    background: #138744;
  }
  &:hover {
    &:before {
      bottom: 0;
      transition: 0.3s;
    }
  }
}

.home-item.yellow_c {
  .home-item__title {
    color: #c5a81e;
  }
  &:before {
    background: #c5a81e;
  }
  &:hover {
    &:before {
      bottom: 0;
      transition: 0.3s;
    }
  }
}

.home-item.orange_c {
  .home-item__title {
    color: #e56d4a;
  }
  &:before {
    background: #e56d4a;
  }
  &:hover {
    &:before {
      bottom: 0;
      transition: 0.3s;
    }
  }
}

.box-avatar .v-btn__content {
  display: inline-block !important;
  min-width: 145px;
  padding-right: 40px;
}
.v-avatar {
  height: 30px;
  min-width: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 7px;
}
.d-md-inline.box-avatar {
  margin-left: 20px !important;
  margin-top: 8px;
}
.shadow_row {
  box-shadow: 0px 2px 6px #d1d1d129;
  max-height: auto;
  background: white;
  box-shadow: inset 0px -0.5px 0px #a8b1ce;

}
.box-avatar {
  box-shadow: none;
  border: none;
  text-align: right;
  position: relative;
  color: #148744;
  min-width: 170px !important;
  padding-right: 40px !important;
  margin-left: 20px !important;
  float: left;
  h3 {
    letter-spacing: 0;
    font-size: 16px;
    text-align: right;
    line-height: 1.5;
    color: #148744;
  }
  h4 {
    letter-spacing: 0;
    font-size: 13px;
    text-align: right;
    line-height: 1.5;
    color: #148744;
  }
}

.d-md-inline.box-avatar {
  margin-top: 8px !important;
}

.logo {
  margin: 20px;
    text-align: right;
    float: right;
    margin-top: 0px;
}

@media (max-width: 768px) {
  .v-avatar {
    top: -23px;
    left: 0;
    right: auto;
  }
  .shadow_row .group__top {
    margin-left: 70px !important;
  }
  .shadow_row {
  max-height: auto;
  height: auto;
  
}
  .v-avatar {
    top: -25px !important;
  }
  .logo {
    margin-top: 0;
  }

  .title_page {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
// .body_pages{
//     position: relative;
//   }
  
</style>
